= form_for [@artifact, @new_question] do |f|
  %dl
    %dt Nickname
    %dd= f.text_field :nickname, class: 'input-xlarge first-field'
    %dt E-Mail Address
    %dd= f.text_field :email, class: 'input-xlarge'
    %dt Your question
    %dd= f.text_area :question, class: 'input-xxlarge', rows: 5
    %dt= submit_tag 'Ask away', name: nil, class: 'btn btn-inverse btn-small'