= form_for [@artifact, @new_question] do |f|
  %dl
    %dt Nickname
    %dd= f.text_field :nickname, class: 'input-xxlarge', placeholder: 'optional'
  %dl
    %dt E-Mail Address
    %dd= f.text_field :email, class: 'input-xxlarge', placeholder: 'optional, used to send you the answer'
  %dl.control-group
    %dt Your question
    %dd.controls= f.text_area :question, class: 'input-xxlarge', rows: 5
  %dl
    %dt= submit_tag 'Ask away', name: nil, class: 'btn btn-inverse btn-small'