%dl.question-item
  %dt{class: question_class(question)}= question.question
  %dd.muted= question_byline(question)
  - if question.answer.present?
    %dd= question.answer
  - elsif user_signed_in?
    %dd
      = form_for question do |f|
        = f.text_area :answer, class: 'input-xxlarge', rows: 5
        <br />
        = f.submit "Answer the question", name: nil, class: 'btn btn-inverse btn-mini'
        = delete_question_link question