- admin_sidebar

%h1 Admin Page

%table#admin-summary
  %tbody
    %tr
      %td
        %dl
          %dt Artifacts
          %dd== Artifact Count: #{number_with_delimiter(@artifact_count, :delimeter => ',')}
          %dd== Last Database Import: #{@last_database_import.stamp('January 1, 2012')}
          %dt Searches
          %dd Performed today: #{@searches[:today]}
          %dd In the last 7-days: #{@searches[:last_seven_days]}
          %dd In the last 30-days: #{@searches[:last_30_days]}
          %dd Total searches: #{@searches[:total]}
      %td
        %dl
          %dt Questions
          %dd Total questions: #{@questions[:total]}
          %dd Answered questions: #{@questions[:answered]}
          %dd Unanswered questions: #{@questions[:unanswered]}
          %dt Version Info
          %dd Ruby Version: #{RUBY_VERSION}-p#{RUBY_PATCHLEVEL}
          %dd Rails Version: #{Rails::VERSION::STRING}
          
%h1 Artifact of the Day
= render partial: 'artifacts/artifact_of_the_day'