- admin_sidebar

%h1 Site Administrator List

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th Name
      %th Title
      %th E-Mail
      %th Created
      %th Last Sign In
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.title
        %td= user.email
        %td= user.created_at.stamp('Jan 1, 2012')
        %td= most_recent_sign_in(user)