%h2 Sign into admin tools

= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %dl
    %dt= f.label :email
    %dd= f.email_field :email, :autofocus => true
    %dt= f.label :password
    %dd= f.password_field :password
    %dt= f.submit "Sign in", class: 'btn btn-inverse btn-small'