%a.artifact-of-the-day{href: artifact_path(@artifact)}
  = image_tag @artifact.artifact_images.first.path, class: 'artifact-image artifact-image-container'

  %h2= format_artifact_name(@artifact)
  %p.muted
    = "#{@artifact.origin}" if @artifact.origin.present?
    = "(#{@artifact.prob_date})" if @artifact.prob_date.present?
  :textile
    #{h @artifact.description}