.accordion#accordion1
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{href: '#searchForm', data: {toggle: 'collapse', parent: '#accordion1'}} Search the Higgins Collection
    #searchForm.accordion-body.collapse.in
      .accordion-inner
        = form_tag artifacts_path, method: :get, class: 'form-search' do
          %p
            = text_field_tag :query, params[:query], class: 'input-medium search-query'
            %br
            %button{type: 'submit', class: 'btn btn-mini btn-inverse'} Search
            &nbsp;
            = link_to 'Search Help', page_path(:help), class: 'seach-help-link'
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{href: '#collapseOne', data: {toggle: 'collapse', parent: '#accordion1'}} Date Filters
    #collapseOne.accordion-body.collapse{class: !using_phone? ? 'in' : nil}
      .accordion-inner
        %ul.nav.nav-list
          %li= temporal_facet_menu_item(params, nil, nil, 'No Filter')
          %li= temporal_facet_menu_item(params, nil, -1, '1 BCE and earlier')
          - [[0, 499], [500, 999], [1000,1199], [1200,1399],[1400,1599],[1600,1799]].each do |date_range|
            %li= temporal_facet_menu_item(params, date_range[0], date_range[1])
          %li=temporal_facet_menu_item(params, 1800, nil, '1800 &ndash; Present'.html_safe)
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{href: '#collapseTwo', data: {toggle: 'collapse', parent: '#accordion1'}} Canned Searches
    #collapseTwo.accordion-body.collapse{class: !using_phone? ? 'in' : nil}
      .accordion-inner
        %ul.nav.nav-list
          %li= link_to 'Browse by Accession Number', artifacts_path
          %li= link_to 'On Display in the Museum', artifacts_path(on_display: true)
