- content_for(:title, 'Higgins Armory Museum Online Catalog')
- content_for(:sidebar) do 
  = render partial: 'artifacts/search_options'

%h1 Higgins Armory Museum Online Catalog

%a.artifact-of-the-day{href: artifact_path(@artifact)}
  %h2 Artifact of the Day
  
  = image_tag @artifact.artifact_images.first.path, class: 'artifact-image'

  :textile
    h3. #{@artifact.std_term.titlecase}
  %p
    = "#{@artifact.origin}" if @artifact.origin.present?
    = "(#{@artifact.prob_date})" if @artifact.prob_date.present?
  :textile
    #{@artifact.description}

:plain
  <script type="text/javascript">
  setTimeout(function(){var a=document.createElement("script");
  var b=document.getElementsByTagName("script")[0];
  a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0008/8967.js?"+Math.floor(new Date().getTime()/3600000);
  a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
  </script>
