- content_for(:title, "#{params[:query].try(:titlecase) || 'Search'} : Higgin's Catalog")
- content_for(:sidebar) do 
  %ul.nav.nav-list
    %li.nav-header Sidebar
    - if Artifact.first.present?
      %li= link_to "First Artifact", artifact_path(Artifact.first)
    %li= link_to "Browse List", artifacts_path
  = form_tag artifacts_path, method: :get do
    %p
      = text_field_tag :query, params[:query]
      = submit_tag 'Search', name: nil
  = render partial: 'artifacts/temporal_facets'

%h1 Artifact List

%ul.search-results
  - @artifacts.each do |artifact|
    %a{href: "/artifacts/#{artifact[:to_param]}"}
      %li
        %strong= artifact.std_term.titlecase
        %br
        %span.muted
          = "#{artifact.origin}" if artifact.origin.present?
          = "(#{artifact.prob_date})" if artifact.prob_date.present?

- if (request.user_agent =~ /Mobile|webOS/) && !(request.user_agent =~ /iPad/)
  = will_paginate @artifacts, page_links:false, class: 'pagination pagination-centered'
- else
  = will_paginate @artifacts, inner_window: 3, outer_window: 1, previous_label: '&laquo;', next_label: '&raquo;', class: 'pagination pagination-centered'