-content_for(:title, "#{@artifact.std_term.titlecase} : Higgins Catalog")
- content_for(:sidebar) do
  = render partial: 'info_sidebar'

%h1.artifact-name
  :textile
    #{@artifact.std_term.titlecase}

- if @artifact.artifact_images.any?
  = image_tag @artifact.artifact_images.first.path

%h2 Description
- if @artifact.label_text.present?
  %blockquote
    :textile
      #{@artifact.label_text}
  %small
    %i Exhibit Label
%p= @artifact.description

- if @artifact.comments.present?
  %h2 Curator's Comments
  %p= @artifact.comments

- if @artifact.bibliography.present?
  %h2 Bibliography
  :textile
    #{@artifact.bibliography}

- if @artifact.published_refs.present? || @artifact.exhibit_history.present?
  %h2 Publication & Exhibit History
  %p= @artifact.published_refs
  %p= @artifact.exhibit_history

- if @artifact.questions.answered.any?
  %h2 Questions & Answers
  %dl
    - @artifact.questions.order('created_at asc').each do |question|
      %dt= question.question
      %dd= question.answer

%h2 Ask a Your Own Question
= render 'questions/form'