- set_subtitle "#{@artifact.std_term.titlecase}"
- content_for(:sidebar) do
  = render partial: 'info_sidebar'
- content_for(:main_title) do
  %h1.artifact-name= format_artifact_name(@artifact)

- if @artifact.artifact_images.any?
  = image_tag @artifact.artifact_images.first.path, class: 'artifact-image'
  
- if @artifact.label_text.present?
  %blockquote.label_text
    :textile
      #{@artifact.label_text}

%h2 Description
%p= @artifact.description

- if @artifact.comments.present?
  %h2 Curator's Comments
  %p= @artifact.comments

- if @artifact.bibliography.present?
  %h2 Bibliography
  :textile
    #{@artifact.bibliography}

- if @artifact.published_refs.present? || @artifact.exhibit_history.present?
  %h2 Publication & Exhibit History
  %p= @artifact.published_refs
  %p= @artifact.exhibit_history

- if @questions.any?
  %section#questions-and-answers
    %h2 Questions & Answers
    %dl#question-list
      - @questions.each do |question|
        = render partial: 'questions/question', locals: {question: question}

- unless user_signed_in?
  %section#ask-a-question
    - if @artifact.questions.answered.any?
      %h2 Ask Your Own Question
    -else
      %h2 Ask a Question
    = render 'questions/form'