- set_subtitle "#{@artifact.std_term.titlecase}"
- content_for(:sidebar) do
  .hidden-phone
    = render partial: 'info_sidebar'
    - if @artifact.artifact_images.count > 1
      = render partial: 'image_collection', locals: {artifact: @artifact}
- content_for(:main_title) do
  %h1.artifact-name= format_artifact_name(@artifact)

- if @artifact.key_image.present?
  = image_tag @artifact.key_image.url, class: 'artifact-image artifact-image-container'

- if @artifact.label_text.present?
  %blockquote.label_text
    :textile
      #{h @artifact.label_text}

%h2 Description
%p= @artifact.description

- if @artifact.comments.present?
  %h2 Curator's Comments
  %p= @artifact.comments

- if @artifact.bibliography.present?
  %h2 Bibliography
  :textile
    #{h @artifact.bibliography}

- if @artifact.published_refs.present? || @artifact.exhibit_history.present?
  %h2 Publication & Exhibit History
  %p= @artifact.published_refs
  %p= @artifact.exhibit_history

- if @questions.any?
  %section#questions-and-answers
    %h2 Questions & Answers
    - if user_signed_in?
      = link_to 'Return to Questions Admin', questions_path, class: 'btn btn-inverse', id: 'return-to-questions'
    %section.question-list
      - @questions.each do |question|
        = render partial: 'questions/question', locals: {question: question}

%section.visible-phone
  = render partial: 'artifacts/info_sidebar'
  - if @artifact.artifact_images.count > 1
    = render partial: 'image_collection', locals: {artifact: @artifact}

- unless user_signed_in?
  %section#ask-a-question
    - if @artifact.questions.answered.any?
      %h2 Ask Your Own Question
    -else
      %h2 Ask a Question
    = render 'questions/form'