!!! 5
%html
  %head
    %title HigginsCatalog
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    %link{rel: "icon", href: "http://www.example.com/favicon.ico", type: "image/x-icon"}
    = ga_tracking_code unless request.local?

  %body
    = yield
